<%- include('partials/header'); -%>   
    
    <!-- Prints Post -->
    <h1 class="mt-5 text-capitalize"><%= title %></h1>
    <p class="text-justify">Published on: <%= date %> </p>
    <p class="text-justify"><%= content %></p>

<%- include('partials/footer'); -%>